<<<<<<< HEAD
<section class="new-link">
  <header>
    <h1>
      submit a link
    </h1>
  </header>
<div class="row">
    <div class="col-sm-6">
      <%= render 'form' %>
    </div>
  </div>
  
</section>
=======
<section class="new-link">
  <header>
    <h1>
      submit a link
    </h1>
  </header>

  <div class="row">
    <div class="col-sm-6">
      <%= render 'form' %>
    </div>
  </div>
</section>
>>>>>>> 67e9149bc9b893837e66bdb8225facd2d838ad54
